  <div class="login-box">
    <div class="login-logo">
      <a ui-sref="pages.dashboard"><b>RTron</b> Boilerplate</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Please Login using your credentials</p>
      <form name="loginForm" method="post" novalidate="novalidate">

        <div
          class="form-group has-feedback"
          show-errors
        >
          <input name="username" type="text" class="form-control"
                 placeholder="Email" required="required"
                 autofocus autocomplete="off"
                 focus-on="username"
                 ng-model="credentials.identifier"
          />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div
          class="form-group has-feedback"
          show-errors
        >
          <input name="password" type="password" class="form-control"
                 placeholder="Password"  required="required"
                 ng-model="credentials.password"/>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
          <div class="col-xs-12">

            <button type="submit"
                    class="btn btn-primary btn-block btn-flat"
                    ng-click="login()"
                    ng-disabled="!loginForm.$valid"
            >Sign In</button>

          </div><!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a ui-sref="auth.facebook" class="btn btn-block btn-social btn-facebook btn-flat">
          <i class="fa fa-facebook"></i> Sign in using Facebook
        </a>
        <a ui-sref="auth.google" class="btn btn-block btn-social btn-google btn-flat">
          <i class="fa fa-google-plus"></i> Sign in using Google+
        </a>
      </div><!-- /.social-auth-links -->

      <a ui-sref="auth.recover">I forgot my password</a><br>
      <a ui-sref="auth.register" class="text-center">Register a new membership</a>

    </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->

